# ------------------------------
# Node (Frontend)
# ------------------------------
node_modules/
dist/
build/
npm-debug.log*

# ------------------------------
# Python (Backend)
# ------------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# OS / Editor Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Env / Config Files
# ------------------------------
.env
.env.local

# ------------------------------
# Others
# ------------------------------
*.log
