# Python
backend/venv/
backend/app/__pycache__/
*.pyc

# Node / React
frontend/node_modules/
frontend/dist/
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.log
